@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Tiny5&display=swap');

:root {
  --color1-background: #d7d7d7;
  --color2-background: #000000;
  --text-color1: #000000;
  --text-color2: #ffffff;
  --text-color3: #909090;
  --transparent: rgba(245, 245, 245, 0.862);

  --spacing-xs: 3px;
  --spacing-s: 5px;
  --spacing-m: 10px;
  --spacing-l: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;
  --spacing-section: 80px;

  --border-radius-m: 15px;
  --border-radius-l: 25px;
  -border-radius-circle: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  font-style: normal;
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
  width: 100%;
  min-height: 100vh;
  background-color: #005791;
  background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png');
}

a {
  text-decoration: none;
  color: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main {
  min-height: 75svh;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

button {
  color: none;
  cursor: pointer;
}
