#sectionRockPapperScissors {
  margin: auto;
  margin-top: 40px;

  width: 100%;
  min-height: 70svh;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: aliceblue;

  /* border: 1px solid; */
}

#boxScores {
  flex-direction: row;
  justify-items: end;

  width: 67%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#boxScores button {
  padding: none;
  font-size: 10px;
  padding: 3px;
  background-color: #0078d0;
  background-image: none;
  height: 60%;
}

#boxHeroRpS {
  gap: 7px;
  background-image: url('https://www.transparenttextures.com/patterns/basketball.png');
  transform-style: preserve-3d;
  min-height: 40svh;
  min-width: 500px;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid white;
  background-color: #0078d0;
  border-radius: 40px;
}
#punctuacion {
  width: 80%;
  border-radius: 40px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: none;
  background-color: #0078d0;
}
.users {
  text-align: center;
  width: 35%;
}
#computerScore {
  width: 15%;
  text-align: center;
}

#userScore {
  width: 15%;
  text-align: center;
}

#gunSelection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: auto;
  min-width: 80%;
}
#gunSelection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  min-width: 170px;
}
#gunSelection div img {
  height: 140px;

  border: none;
}
#boxOptionsToChoose {
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-height: 20svh;
  min-width: 500px;
  align-items: center;
}

.OptionToChoose {
  border-radius: 40px;
  border: 1px solid;
  height: 100px;
  width: 100px;
  padding: 10px;
  background-image: url('https://www.transparenttextures.com/patterns/basketball.png');
  transform-style: preserve-3d;
  background-color: #0078d0;
  transition: all 1seg;
  margin-bottom: 20px;
}
.OptionToChoose:hover {
  transform: scale(1.1);
}

.OptionToChoose > img {
  width: 70%;
}

#instructionResults {
  font-size: 25px;
  font-weight: 900;
}
@media (max-width: 700px) {
  #sectionRockPapperScissors {
    margin: auto;
    margin-top: 70px;
    justify-content: space-evenly;
    height: 60svh;
  }
  #boxScores {
    width: 75%;
    justify-content: space-evenly;
  }
  #boxScores button {
    font-size: 7px;
    height: 50%;
  }

  h2 {
    font-size: medium;
    margin-bottom: 7px;
  }
  #boxHeroRpS {
    gap: 7px;
    min-height: 30svh;
    min-width: 400px;
  }
  #punctuacion {
    width: 60%;
    height: 10%;
    align-items: center;
  }

  #gunSelection {
    margin-top: 15px;
    font-size: small;

    justify-content: space-evenly;
  }

  #gunSelection div img {
    height: 110px;
  }
  #boxOptionsToChoose {
    min-height: 15svh;
    min-width: 450px;
    justify-content: space-evenly;
  }

  .OptionToChoose {
    height: 100px;
    width: 100px;
    padding: 15px;
  }

  #instructionResults {
    font-size: medium;
  }
}

@media (max-width: 450px) {
  #boxScores {
    width: 75%;
    justify-content: center;
    gap: 10%;
  }
  #boxScores button {
    font-size: 7px;
    height: 50%;
  }
  #boxHeroRpS {
    min-width: 300px;
  }
  #punctuacion {
    font-size: small;
  }
  #gunSelection {
    margin-top: 10px;
  }
  #gunSelection div {
    height: 120px;
    min-width: 120px;
    margin-bottom: 10px;
  }
  #gunSelection div img {
    height: 90px;
  }
  #boxOptionsToChoose {
    font-size: small;
    min-width: 300px;
  }

  .OptionToChoose {
    height: 60px;
    width: 60px;
    padding: 10px;
  }

  #instructionResults {
    font-size: medium;
  }
  #boxPunctuation {
    min-height: 3svh;
    font-size: 15px;
    margin-top: 20px;
  }
  #heroMemoryGame {
    gap: 15px;
  }
  .cart {
    min-height: 100px;
    min-width: 80px;
  }
}
